$primary: #c23f81;
$secondary: #74667e;
$gray-one: #ececec;
$gray-two: #d6d5d673;
$dark: #313131;
$white: #fff;
$black: #000;

$border-radius: 30px;

$mobile-width: 450px;
$tablet-width: 1024px;

$font-family: 'Roboto', cursive;

$max-width-desktop: 1200px !important;
